.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .custom-button {
    width: 85%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      opacity: unset;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
    @media screen and (max-width: 800px) {
      .image {
        opacity: unset;
      }

      .custom-button {
        opacity: unset;
        display: block;
        padding: 10 10px 0 10px;
      }
    }
  }

  .collection-footer {
    width: 90%;
    height: 5%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 85%;
      margin-bottom: 3px;
    }

    .price {
      width: 15%;
    }
  }

  @media screen and (max-width: 800px) {
    width: 45vw;
  }
}
