.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; // making below down whatever comes next
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; // they are on the right side of the page
  
      .option {
        padding: 10px 15px; // so that they are not so grouped together
        cursor: pointer;
      }
    }
  }
  