$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 18px 0;

  .form-input {
    width: 100%;
    padding: 12px 20px;
    //margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      //grid-gap: 5px;
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  // sign-up inside content
  .form-input-label {
    color: $sub-color;

    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
